* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282d35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

/*.nav--logo_text, .nav--title*/
nav > h3, nav > h4 { /* This CSS selector targets <h3> elements that are direct children of a <nav> element.*/
/* nav h3 {} This CSS selector targets all(also grand children) <h3> elements that are descendants of a <nav> element.  */
    margin: 0;

}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBFB;
    font-weight: 600;

}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background-image: url(./images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;


}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;


}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts >li::marker { /* ::marker is a pseudo-element that represents the marker of a list item. It allows you to style the marker itself, which is typically the bullet or number displayed before each list item.*/
    font-size: 1.4rem;
    color: #61DAFB;
}
